.box{
    width: 400px;
    height: 200px;
    border: 5px solid sienna;
    /* overflow: hidden; */
    overflow: scroll;
}
.box2{
    width: 400px;
    height: 200px;
    border: 5px solid peru;
}
/* .images .logo{
    width: 100px;
    height: 100px;
} */