.box{
    width: 100px;
    height: 100px;
    border: 1px solid rebeccapurple;
}
.outer{
    background-color: lightblue;
}
.inner{
    background-color: lightgreen;
    /* transform: scale(0.75); */
    /* transform: translateX(10px); */
    transform: rotate(30deg) scale(0.75);
}